@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ---------------------Global Setting------------------------- */

:root {
    overflow-x: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

@media (max-width: 600px) {
    html, body {
        overflow-x: hidden;
    }
}

/* ----------------------Header Section---------------------- */
.header-dropdown {
    display: none;
}

.header {
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.header-content {
    padding: 0px 10px;
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 150px;
    width: 150px;
}

.header-nav-list {
    list-style-type: none;
    display: flex;
}

.header-nav-list li {
    margin: 0px 20px;
}

.header-nav-list li a {
    text-decoration: none;
}

.header-nav-list li a:link {
    color: #333;
}

.header-nav-list li a:active {
    color: #7cb62c;
}

.header-nav-list li a:visited {
    color: #333;
}

#header-contact {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.phone-number {
    margin-right: 15px;
}

.phone {
    margin-right: 3px;
    height: 30px;
    width: 30px;
}

#quote-btn {
    font-size: 18px;
    background-color: #7cb62c;
    border-radius: 10px;
    border: none;
    padding: 10px 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#quote-btn:hover {
    scale: 1.2;
}

@media  screen and (min-width: 1025px) and (max-width: 1200px) {
    .header-nav-list li {
        margin: 0px 12px;
    }

    .header-nav-list {
        font-size: 18px;
    }

    #header-contact p {
        font-size: 17px;
    }

    #quote-btn {
        font-size: 17px;
    }
}

/* Alternative Header Nav */
.header-dropdown {
    position: fixed;  /* 固定位置 */
    top: 0;           /* 置顶 */
    left: 0;          /* 左对齐 */
    right: 0;         /* 右对齐，与左对齐结合使用可实现水平居中 */
    z-index: 1000;    /* 确保在最顶层，避免被其他内容覆盖 */
    width: 100%;      /* 全宽 */
    background-color: white; /* 背景色，根据需要调整以适应设计 */
    box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.2);
}

.header-part {
    width: 100%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.header-part .icon {
    height: 1.5em;
    width: 20px;
}

.logo-mobile {
    height: 140px;
    width: 140px;
}

#dropdown-icon {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#quote-part {
    margin-right: 10px;
    display: flex;
}

.quote-btn-mobile {
    font-weight: 550;
    font-size: 16px;
    color: #333;
    background-color: #7cb62c;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.dropdown {
    margin-top: 10px;
    display: block;
    background-color: rgb(245, 245, 245);
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.6s ease-in-out;
    -webkit-transition: max-height 0.6s ease-in-out;
    -moz-transition: max-height 0.6s ease-in-out;
    -ms-transition: max-height 0.6s ease-in-out;
    -o-transition: max-height 0.6s ease-in-out;
}

.dropdown.open {
    max-height: 600px;
    transition: max-height 0.6s ease-in-out;
    -webkit-transition: max-height 0.6s ease-in-out;
    -moz-transition: max-height 0.6s ease-in-out;
    -ms-transition: max-height 0.6s ease-in-out;
    -o-transition: max-height 0.6s ease-in-out;
}

.dropdown a {
    text-decoration: none;
    display: block;
    margin: 25px 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.dropdown a:link {
    color: #333;
}

.dropdown a:active {
    color: #7cb62c;
}

.dropdown a:visited {
    color: #333;
}

@media (max-width: 768px) {
    .header {
        display: none;
    }

    .header-dropdown {
        display: block;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .header {
        display: none;
    }

    .header-dropdown {
        display: block;
    }

    .quote-btn-mobile {
        font-size: 18px;
    }

    .dropdown a {
        font-size: 18px;
    }
}

/* ---------------------Display Section --------------------------------- */
.dispaly-section {
    position: relative;
    width: 100%;
    height: 20%;
    background-image: url(./assets/display.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.overlay {      
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明黑色遮罩 */
    z-index: 1;
}

.display-content {
    width: 100%;
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
    margin-top: 80px;
}

.display-content p {
    white-space: pre-wrap;
}

.display-content .main-title {
    font-size: 55px;
}

.display-content .second-title {
    font-size: 30px;
}

.display-btns {
    position: relative;
    z-index: 2;
    margin-top: 18px;
    margin-bottom: 80px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.display-btn {
    background-color: #7cb62c;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    padding: 15px 20px;
    color: white;
    transition: background-color 0.3s ease;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.display-btn:hover {
    background-color: #50751d;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .dispaly-section{
        margin-top: 200px;
    }
}

@media (max-width: 768px) {

    .dispaly-section {
        margin-top: 200px;
    }

    .display-content {
        margin: 15px;
    }

    .display-content .main-title {
        font-size: 30px;
    }

    .display-content .second-title {
        font-size: 23px;
    }

    .display-btns {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .display-btn {
        padding: 10px 15px;
        margin: 10px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
}

/* -----------------------Services Section------------------------- */

.services {
    background-color: rgb(243, 243, 243);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 -8px 8px -8px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}
.services h1 {
    font-size: 30px;
}

.services h1,p{
    text-align: center;
}

#intro {
    font-size: 22px;
}

#announcement {
    font-size: 19px;
    margin-bottom: 30px;
}

.service-list {
    display: flex;
    justify-content: center;
}

.service-list li {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 5px;
}

@media (max-width: 768px) {

    #intro {
        font-size: 19px;
    }

    #announcement {
        font-size: 17px;
    }

    .services h1 {
        font-size: 25px;
    }

    .service-list li {
        font-size: 20px;
    }
}

/* --------------------Projects Section------------------------- */
    .projects {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .slide-gallery {
        width: 100%;
        max-width: 1024px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .slide-gallery h1 {
        font-size: 30px;
        text-align: center;
    }

    .slide-gallery img {
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }

    .control-btns {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .control-btns button {
        color: #333;
        font-size: 20px;
        margin: 10px 150px;
        background-color: #7cb62c;
        padding: 10px 25px;
        border-radius: 10px;
        border: none;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }


@media (max-width: 768px) {
    .slide-gallery h1 {
        font-size: 25px;
    }

    .control-btns button {
        font-size: 16px;
        margin: 10px 40px;
    }
}

/* -------------------Contact Section------------------------- */
.contact-section {
    background-color: rgb(243, 243, 243);
    padding: 20px;
    box-shadow: inset 0 4px 4px -4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
}

.contact-content {
    max-width: 1024px;
    width: 100%;
}

.contact-content h1 {
    font-size: 30px;
}

.contact-content div {
    font-size: 20px;
}

.business-info {
    width: 100%;
    display: flex;
    align-items: center;
}

.business-info img {
    height: 27px;
    width: 27px;
    margin-right: 10px;
}

@media (max-width: 768px) {

    .contact-content h1 {
        font-size: 25px;
    }

    .contact-content div {
        font-size: 16px;
    }

    .business-info img {
        height: 25px;
        width: 25px;
    }
}

/* -----------------------Quote Section---------------------- */
.quote-pt {
    display: flex;
    justify-content: center;
}

.quote-section {
    width: 100%;
    max-width: 1024px;
    padding: 10px;
    margin-bottom: 20px;
}

.quote-section h1 {
    font-size:  30px;
    text-align: center;
}

.quote-section p {
    font-size: 18px;
}

.quote-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.quote-form label {
    margin: 10px 0px;
    font-size: 19px;
}

.quote-form input {
    font-size: 18px;
    border: 1px #333 solid;
    padding: 5px;
    border-radius: 5px;
    height: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#job-description-input {
    font-size: 18px;
    border: 1px #333 solid;
    padding: 5px;
    border-radius: 5px;
    height: 90px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.quote-form p {
    font-size: 17px;
}

#quote-submit-btn {

    color: #333;
    font-size: 18px;
    padding: 10px 15px;
    background-color: #7cb62c;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .quote-section h1 {
        font-size: 25px;
    }

    .quote-section p {
        font-size: 16px;
    }

    .quote-form label {
        font-size: 16px;
    }

    .quote-form input {
        font-size: 16px;
    }

    #job-description-input {
        font-size: 16px;
    }

    .quote-form p {
        font-size: 15px;
    }

    #quote-submit-btn {
        font-size: 16px;
    }
}


/* -----------------------------------Footer Section----------------------------- */

.footer {
    font-size: 20px;
    background-color: rgb(243, 243, 243);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-content {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-content div {
    margin-left: 50px;
}

.copyright {
    font-size: 17px;
    text-align: center;
    padding: 30px;
}

@media screen and (max-width: 1024px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-content div {
        font-size: 16px;
        margin-left: 30px;
        margin-right: 0px;
    }

    .copyright {
        font-size: 15px;
    }
}


